{% extends 'base.html.twig' %}

{% block title %}coron
  {{ controller_name }}!{% endblock %}

{% block body %}

  <body class="  light-mode plain-container">
    <div class="topography">
      <div class="inner-container">

        <div class="topo-header clearfix">

          <div class="float-left">
            <a class="navbar-brand" href="#">
              <img class="light-logo" src="{{ asset('assets/img/slider/logo.png') }}"/>
              <img class="dark-logo" src="{{ asset('assets/img/slider/logo.png') }}"/>
            </a>
          </div>
          <div class="float-right">
            <ul>
              <li>
                <a href="" title="Change theme mode" onclick="return change_theme_mode('light-mode')" class="theme-mode-button mtitle">
                  <i class="la la-lightbulb-o"></i>
                </a>
              </li>
              <li>
                <a class="link" href="https://music.krea8iv.com/demo/" data-ajax="true">Home</a>
              </li>
              <li>
                <a class="link" href="https://music.krea8iv.com/demo/discover">Explore</a>
              </li>
              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                  <img src="https://music.krea8iv.com/demo/assets/images/flags/en.png"/>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="https://music.krea8iv.com/demo/change/language?id=ja" class="dropdown-item">
                    <img class="mr-1" src="https://music.krea8iv.com/demo/assets/images/flags/ja.png"/>
                    <span class="pt-1">Japanese</span></a>
                  <a href="https://music.krea8iv.com/demo/change/language?id=pt" class="dropdown-item">
                    <img class="mr-1" src="https://music.krea8iv.com/demo/assets/images/flags/pt.png"/>
                    <span class="pt-1">Portuguese</span></a>
                  <a href="https://music.krea8iv.com/demo/change/language?id=fr" class="dropdown-item">
                    <img class="mr-1" src="https://music.krea8iv.com/demo/assets/images/flags/fr.png"/>
                    <span class="pt-1">French</span></a>
                  <a href="https://music.krea8iv.com/demo/change/language?id=ru" class="dropdown-item">
                    <img class="mr-1" src="https://music.krea8iv.com/demo/assets/images/flags/ru.png"/>
                    <span class="pt-1">Russian</span></a>
                  <a href="https://music.krea8iv.com/demo/change/language?id=pl" class="dropdown-item">
                    <img class="mr-1" src="https://music.krea8iv.com/demo/assets/images/flags/pl.png"/>
                    <span class="pt-1">Polish</span></a>
                  <a href="https://music.krea8iv.com/demo/change/language?id=it" class="dropdown-item">
                    <img class="mr-1" src="https://music.krea8iv.com/demo/assets/images/flags/it.png"/>
                    <span class="pt-1">Italian</span></a>
                  <a href="https://music.krea8iv.com/demo/change/language?id=en" class="dropdown-item">
                    <img class="mr-1" src="https://music.krea8iv.com/demo/assets/images/flags/en.png"/>
                    <span class="pt-1">English</span></a>
                  <a href="https://music.krea8iv.com/demo/change/language?id=es" class="dropdown-item">
                    <img class="mr-1" src="https://music.krea8iv.com/demo/assets/images/flags/es.png"/>
                    <span class="pt-1">Spanish</span></a>
                  <a href="https://music.krea8iv.com/demo/change/language?id=ar" class="dropdown-item">
                    <img class="mr-1" src="https://music.krea8iv.com/demo/assets/images/flags/ar.png"/>
                    <span class="pt-1">Arabic</span></a>
                  <a href="https://music.krea8iv.com/demo/change/language?id=nl" class="dropdown-item">
                    <img class="mr-1" src="https://music.krea8iv.com/demo/assets/images/flags/nl.png"/>
                    <span class="pt-1">Dutch</span></a>
                  <a href="https://music.krea8iv.com/demo/change/language?id=de" class="dropdown-item">
                    <img class="mr-1" src="https://music.krea8iv.com/demo/assets/images/flags/de.png"/>
                    <span class="pt-1">German</span></a>
                </div>
              </li>
              <li>
                <a href="#" onclick="return changeAuthModal('.login-form')">Sign in</a>
              </li>
              <li>
                <a href="#" onclick="return changeAuthModal('.signup-form')" class="btn btn-primary">Create account</a>
              </li>
            </ul>
          </div>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item">
              <img class="d-block w-100" src="{{ asset('assets/img/slider/quran.jpg') }}" alt="First slide">
            </div>
            <div class="carousel-item active">
              <img class="d-block w-100" src="{{ asset('assets/img/slider/fond-islam--25-.jpg') }}" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{{ asset('assets/img/slider/quraan.png') }}" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

    </div>

    <div class="inner-container">
      <div class="section">
        <div class="section-title">
          <h2>رواية حفص عن عاصم</h2>
          <!-- <span class="note">Get awesome music from our charts</span> <div class="mt-5"> <a href="#" class="btn btn-secondary ">Trending</a> <a href="https://music.krea8iv.com/demo/charts/top" class="btn btn-primary ml-3">Explore top 50</a> </div> -->
        </div>
        <div class="content">

          <div class="horizontal-list" style="border:none">
            <div class="full-slider slider">
              <div class="swiper-container" id="new-hot-slider">
                <div class="swiper-wrapper">

                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/ahmed-al-ajmi-600.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/ahmed-al-ajmi-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>القارئ الشيخ أحمد ٱلعجمي</b>
                      </a>
	
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/macheriElafassi-200.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/macheriElafassi-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>القارئ الشيخ مشاري ٱلعفاسي</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/abd-rahmen-sdeess-200.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/abd-rahmen-sdeess-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b> القارئ الشيخ عبد ٱلرحمان ٱلسديس</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/الشيخ-سعد-الغامدي-300x300.jpg') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/الشيخ-سعد-الغامدي-300x300.jpg') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>سعد الغامدي</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/maher-miikli.jpg') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/maher-miikli.jpg') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>ماهر المعيقلي</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/ahmed-al-ajmi-600.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/ahmed-al-ajmi-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>القارئ الشيخ أحمد ٱلعجمي</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/macheriElafassi-200.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/macheriElafassi-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>القارئ الشيخ مشاري ٱلعفاسي</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/ahmed-al-ajmi-600.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/ahmed-al-ajmi-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>القارئ الشيخ أحمد ٱلعجمي</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/macheriElafassi-200.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/macheriElafassi-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>القارئ الشيخ مشاري ٱلعفاسي</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/ahmed-al-ajmi-600.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/ahmed-al-ajmi-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>القارئ الشيخ أحمد ٱلعجمي</b>
                      </a>

                    </div>
                  </div>

                </div>
				<div class="swiper-pagination"></div>
              </div>
              <!-- <div class="swiper-button-next  scroller scroll-right" id="new-hot-slider-next"> -->
                <!-- <i class="la  la-angle-right"></i> -->
              <!-- </div> -->
              <!-- <div class="swiper-button-prev scroller scroll-left" id="new-hot-slider-right"> -->
                <!-- <i class="la  la-angle-left"></i> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
 <div class="section bg-section">
        <div class="section-title">
          <h2>رواية ورش عن نافع</h2>
          <!-- <span class="note">Get awesome music from our charts</span> <div class="mt-5"> <a href="#" class="btn btn-secondary ">Trending</a> <a href="https://music.krea8iv.com/demo/charts/top" class="btn btn-primary ml-3">Explore top 50</a> </div> -->
        </div>
        <div class="content">

          <div class="horizontal-list" style="border:none">
            <div class="full-slider slider">
              <div class="swiper-container" id="new-hot-slider">
                <div class="swiper-wrapper">

                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/ahmed-al-ajmi-600.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/ahmed-al-ajmi-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>القارئ الشيخ أحمد ٱلعجمي</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/macheriElafassi-200.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/macheriElafassi-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>القارئ الشيخ مشاري ٱلعفاسي</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/abd-rahmen-sdeess-200.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/abd-rahmen-sdeess-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b> القارئ الشيخ عبد ٱلرحمان ٱلسديس</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/الشيخ-سعد-الغامدي-300x300.jpg') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/الشيخ-سعد-الغامدي-300x300.jpg') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>سعد الغامدي</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/maher-miikli.jpg') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/maher-miikli.jpg') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>ماهر المعيقلي</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/ahmed-al-ajmi-600.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/ahmed-al-ajmi-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>القارئ الشيخ أحمد ٱلعجمي</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/macheriElafassi-200.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/macheriElafassi-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>القارئ الشيخ مشاري ٱلعفاسي</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/ahmed-al-ajmi-600.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/ahmed-al-ajmi-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>القارئ الشيخ أحمد ٱلعجمي</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/macheriElafassi-200.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/macheriElafassi-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>القارئ الشيخ مشاري ٱلعفاسي</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/ahmed-al-ajmi-600.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/ahmed-al-ajmi-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>القارئ الشيخ أحمد ٱلعجمي</b>
                      </a>

                    </div>
                  </div>
				
                </div>
				 <div class="swiper-pagination"></div>
              </div>
			  
              <!-- <div class="swiper-button-next  scroller scroll-right" id="new-hot-slider-next"> -->
                <!-- <i class="la  la-angle-right"></i> -->
              <!-- </div> -->
              <!-- <div class="swiper-button-prev scroller scroll-left" id="new-hot-slider-right"> -->
                <!-- <i class="la  la-angle-left"></i> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
	  <div class="section">
        <div class="section-title">
          <h2>رواية قالون عن نافع</h2>
          <!-- <span class="note">Get awesome music from our charts</span> <div class="mt-5"> <a href="#" class="btn btn-secondary ">Trending</a> <a href="https://music.krea8iv.com/demo/charts/top" class="btn btn-primary ml-3">Explore top 50</a> </div> -->
        </div>
        <div class="content">

          <div class="horizontal-list" style="border:none">
            <div class="full-slider slider">
              <div class="swiper-container" id="new-hot-slider">
                <div class="swiper-wrapper">

                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/ahmed-al-ajmi-600.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/ahmed-al-ajmi-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>القارئ الشيخ أحمد ٱلعجمي</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/macheriElafassi-200.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/macheriElafassi-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>القارئ الشيخ مشاري ٱلعفاسي</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/abd-rahmen-sdeess-200.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/abd-rahmen-sdeess-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b> القارئ الشيخ عبد ٱلرحمان ٱلسديس</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/الشيخ-سعد-الغامدي-300x300.jpg') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/الشيخ-سعد-الغامدي-300x300.jpg') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>سعد الغامدي</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/maher-miikli.jpg') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/maher-miikli.jpg') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>ماهر المعيقلي</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/ahmed-al-ajmi-600.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/ahmed-al-ajmi-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>القارئ الشيخ أحمد ٱلعجمي</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/macheriElafassi-200.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/macheriElafassi-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>القارئ الشيخ مشاري ٱلعفاسي</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/ahmed-al-ajmi-600.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/ahmed-al-ajmi-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>القارئ الشيخ أحمد ٱلعجمي</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/macheriElafassi-200.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/macheriElafassi-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>القارئ الشيخ مشاري ٱلعفاسي</b>
                      </a>

                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="list each-track-513 track-513" id="track-513">
                      <a
                        href=""
                        data-art="{{ asset('assets/img/ahmed-al-ajmi-600.png') }}"
                        data-title="dub drums loop024"
                        data-link="https://music.krea8iv.com/demo/track/513"
                        id="track-play-button-513">
                      <div class="art round-sm" style="background-image: url({{ asset('assets/img/ahmed-al-ajmi-200.png') }});">
                        <div class="track-hover-display">
                          <div class="play-controls" data-wave=""></div>
                        </div>

                      </div>
                      </a>
                      <a class="title" href="#">
                        <b>القارئ الشيخ أحمد ٱلعجمي</b>
                      </a>

                    </div>
                  </div>
				
                </div>
				 <div class="swiper-pagination"></div>
              </div>
			  
              <!-- <div class="swiper-button-next  scroller scroll-right" id="new-hot-slider-next"> -->
                <!-- <i class="la  la-angle-right"></i> -->
              <!-- </div> -->
              <!-- <div class="swiper-button-prev scroller scroll-left" id="new-hot-slider-right"> -->
                <!-- <i class="la  la-angle-left"></i> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
      </div>
      


      <div class="section">
        <div class="section-title" data-animation="fadeInDown" data-animation-delay="400">
          <h2>Calling all creators</h2>
          <span class="note">Do you make music or create audio? share it
            <br/>
            on
            <span class="colored">MusicEngine</span></span>

          <div class="content">
            <div class="row">
              <div class="col-sm-4">
                <div class="hero-box" data-animation="fadeInDown" data-animation-delay="400">
                  <i class="la la-cloud-upload colored"></i>
                  <h6 class="title">Upload</h6>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="hero-box" data-animation="fadeInDown" data-animation-delay="400">
                  <i class="la la-users colored"></i>
                  <h6 class="title">Access to large fans</h6>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="hero-box" data-animation="fadeInDown" data-animation-delay="400">
                  <i class="la la-bar-chart colored"></i>
                  <h6 class="title">Know more about your music</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="bg-section">
      <div class="inner-container">
        <div class="section">
          <div class="section-title" data-animation="fadeInDown" data-animation-delay="400">
            <h2>Get Connected With Great Artists</h2>
            <span class="note">Get connected with the great artists and get updated</span>
            <div class="mt-5">
              <a href="https://music.krea8iv.com/demo/discover/artists" class="btn btn-primary ml-3 pr-5 pl-5">Meet Great Artists</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-section-pricing">
      <div class="img-container">
        <div class="inner-container ">
          <img src="{{ asset('assets/img/font.jpg') }}"/>
        </div>
      </div>
      <div class="cover"></div>
      <div class="inner-container">
        <div class="section">
          <div class="section-title" data-animation="fadeInDown" data-animation-delay="400">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer" align="center">
              <p><img src="/img/logo_livre_marron.png" style="width:100px;"></p>
              <p><strong>VOUS AVEZ NOTRE PERMISSION</strong> POUR REPRENDRE TOUT OU PARTIE DU SITE, POUR VOS PROJETS, <strong>SANS BUT COMMERCIAL</strong> SAUF L'ARCHITECTURE ET LE DESIGN BIEN-SÛR.</p>
              <div class="hr2"></div>
              <p>
                <a href="https://www.facebook.com/bismirabbika" class="a_social_bas_fb" target="_blank">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="https://www.twitter.com/bismirabbika" class="a_social_bas_twt" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
              </p>
              <div class="hr2"></div>
              <p>أشهد أن لا إله إلا الله وأشهد أن محمدا رسول الله ﷺ</p>

            </div>
          </div>
        </div>

      </div>
    </div>


  </div>
  <div class="full-loader"></div>
  <div id="music-player" class="jp-jplayer"></div>
  <div id="sound-playlists">
    <div class="playlist-header clearfix">
      <div class="float-left">
        <div class="title">Next up</div>
      </div>
      <div class="float-right">
        <a href="" onclick="return toogleSoundPlaylist()">
          <i class="la la-times"></i>
        </a>
      </div>
    </div>
    <div class="sound-playlist-content">
      <div class="content"></div>
    </div>
  </div>
  <div class="gdpr-container" data-animation="slideInLeft" data-animation-delay="400">
    <div>This site uses cookies to deliver our services and to show you relevant ads and job listings. By using our site, you acknowledge that you have read and understand our Cookie Policy, Privacy Policy, and our Terms of Service. Your use of our
      Products and Services, including our Network, is subject to these policies and terms.</div>
    <div class="buttons mt-2">
      <a href="" onclick="return acceptCookie()" class="btn btn-primary">Got it</a>
    </div>
  </div>
  <div id="" class="jp-audio  sound-container sound-player">
    <div class="inner-container clearfix">
      <div class="float-left">
        <div class="middle-content">
          <ul class="nav">
            <li>
              <a href="" onclick="return toogleSoundPlaylist()">
                <i class="la la-indent "></i>
              </a>
            </li>

            <li>
              <a href="" onclick="return playprev()">
                <i class="la la-fast-backward "></i>
              </a>
            </li>
            <li>
              <div class="play-icon music-play jp-play">
                <i class="fa fa-play "></i>
              </div>
              <div class="play-icon music-pause jp-pause">
                <i class="la la-pause "></i>
              </div>
            </li>
            <li>
              <a href="" onclick="return playNext()">
                <i class="la la-fast-forward "></i>
              </a>
            </li>
            <li>
              <a href="" onclick="return repeatSongTrigger(this)" class="repeat-song-trigger">
                <i class="la la-repeat "></i>
              </a>
            </li>
          </ul>
        </div>

        <ul class="nav right-play-controls">
          <li class="hide-mobile-sm">
            <div class="jp-time-holder">
              <div class="jp-current-time hide"></div>
              <div class="jp-progress">
                <div class="jp-seek-bar">
                  <div class="jp-play-bar"></div>
                </div>
              </div>
              <div class="jp-duration hide"></div>
            </div>
          </li>

        </ul>
      </div>

      <div class="float-right">
        <div class="media detail">
          <div class="mr-3 img"></div>
          <div class="media-body">
            <h6 class="title">
              <a data-ajax="true" id="title-link" href=""></a>
            </h6>
          </div>
        </div>

        <ul class="nav right-play-controls hide-mobile-sm">
          <li>
            <a href="" class="volume-btn mute jp-mute">
              <i class="la  la-volume-up"></i>
            </a>
            <a href="" class="volume-btn unmute jp-unmute">
              <i class="la  la-volume-off"></i>
            </a>
          </li>
          <li>
            <div class="progress jp-volume-bar" style="height: 4px;width:100px">
              <div class="progress-bar jp-volume-bar-value" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="seek-template" style="display: none;">
    <div id="" class="jp-audio sound-player">
      <div class="play-icon jp-play">
        <i class="fa fa-play "></i>
      </div>
      <div class="play-icon jp-pause">
        <i class="la la-pause "></i>
      </div>
      <div class="jp-progress">
        <div class="jp-seek-bar">
          <div class="jp-play-bar"></div>
        </div>
        <div class="jp-time-holder">
          <div class="jp-current-time"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade smallModal" id="authModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <ul class="nav">
            <li class="active auth-login-title">
              <a onclick="return changeAuthModal('.login-form')" href="">Log in</a>
            </li>
            <li class="auth-signup-title">
              <a onclick="return changeAuthModal('.signup-form')" href="">Sign up</a>
            </li>
          </ul>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="login-form">
            <form action="https://music.krea8iv.com/demo/login" class="general-form" method="post">

              <div class="form-group">
                <input name="val[username]" class="form-control " placeholder="Username or email address"/>
              </div>

              <div class="form-group">
                <input type="password" name="val[password]" class="form-control" placeholder="Password"/>
              </div>

              <button type="submit" data-style="zoom-in" data-size="s" class="btn btn-block btn-primary ladda-button" id="login-submit">Log in</button>
            </form>

            <p class="text-center mt-4">
              New to
              <strong class="colored">MusicEngine</strong>
              <a style="font-weight: 600;" onclick="return changeAuthModal('.signup-form')" href="">Signup here</a>
              <br/><br/>
              Forgot your password?
              <a onclick="return changeAuthModal('.forgot-form')" href="" style="font-weight: 600;">Reset here</a>
            </p>
          </div>

          <div class="forgot-form">
            <form action="https://music.krea8iv.com/demo/forgot" class="general-form" method="post">

              <div class="form-group">
                <input name="email" class="form-control " placeholder="Username or email address"/>
              </div>

              <button type="submit" data-style="zoom-in" data-size="s" class="btn btn-block btn-primary ladda-button" id="forgot-submit">Reset Password</button>
            </form>

          </div>

          <div class="signup-form" style="display: none;">
            <form action="https://music.krea8iv.com/demo/signup" class="general-form" method="post">

              <div class="form-group">
                <input type="text" name="val[full_name]" class="form-control " placeholder="Full Name"/>
              </div>
              <div class="form-group">
                <input type="text" name="val[username]" class="form-control " placeholder="Username"/>
              </div>

              <div class="form-group">
                <input type="email" name="val[email]" class="form-control " placeholder="Email address"/>
              </div>

              <div class="form-group">
                <input name="val[password]" type="password" class="form-control" placeholder="Password"/>
              </div>

              <button type="submit" data-size="s" data-style="zoom-in" class="btn btn-block btn-primary ladda-button" id="signup-submit">Submit</button>
            </form>

            <p class="text-center mt-4">
              Already a member
              <a onclick="return changeAuthModal('.login-form')" style="font-weight: 600;" href="">Login here</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade smallModal" id="playlistModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <ul class="nav">
            <li class="active playlist-title">
              <a onclick="return changePlaylistModal('.playlists')" href="">Playlist</a>
            </li>
            <li class="add-playlist-title">
              <a onclick="return changePlaylistModal('.add-playlist')" href="">Add Playlist</a>
            </li>
          </ul>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="playlists"></div>

          <div class="add-playlist" style="display: none;">
            <form action="https://music.krea8iv.com/demo/playlist/add" class="general-form" method="post">
              <input type="hidden" name="val[id]" id="add-playlist-id"/>
              <div class="form-group">
                <input type="text" name="val[title]" class="form-control " placeholder="Title"/>
              </div>
              <div class="form-group">
                <textarea name="val[desc]" class="form-control" placeholder="Description"></textarea>
              </div>

              <div class="row">

                <div class="col">
                  <label>Public</label>

                  <input type="hidden" name="val[public]" value="0"/>
                  <div class="switch">
                    <input id="cmn-toggle-premium" value="1" name="val[public]" checked="checked" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                    <label for="cmn-toggle-premium"></label>
                  </div>
                </div>
              </div>

              <button type="submit" data-size="s" data-style="zoom-in" class="mt-4 btn  btn-primary ladda-button" id="playlist-submit">Save</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="reportTrack" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <form action="https://music.krea8iv.com/demo/report/track" method="post" class="general-form">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Report track</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="hidden" name="val[id]" value="" id="report-track"/>
            <div class="form-group">
              <label>Description</label>
              <textarea rows="5" name="val[description]" class="form-control"></textarea>
              <div class="text-muted mt-3">Please identify, in as much detail as possible, the copyright work(s) that you believe are being infringed</div>
            </div>

            <div class="form-group">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" name="val[good]" value="1" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">I have a good faith belief that use of the copyrighted work described above is not authorized by the copyright owner, its agent or the law</span>
              </label>
            </div>

            <div class="form-group">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" name="val[info]" value="1" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">I confirm that the information in this notification is accurate</span>
              </label>
            </div>

            <div class="form-group">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" name="val[us]" value="1" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">I confirm that I am the copyright owner or am authorised to act on behalf of the owner of an exclusive right that is allegedly infringed. Where I am making notice pursuant to the United States Digital
                  Millennium Copyright Act U.S.C. 17 §512(c), I make this statement under penalty of perjury</span>
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" id="reportbutton" data-size="s" data-style="zoom-in" class="ladda-button btn btn-primary">Send Report</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="modal" id="editPlaylistModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
      <form action="https://music.krea8iv.com/demo/load/playlist/form" method="post" class="general-form">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Playlist</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="submit" id="playlistsavebutton" data-size="s" data-style="zoom-in" class="ladda-button btn btn-primary">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="modal" id="paymentMethodModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
      <div class="loader">Please wait....</div>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Payment Method</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"></div>
      </div>
    </div>
  </div>

  <div class="modal" id="shareModal" tabindex="-1" role="dialog">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-body"></div>
      </div>
    </div>
  </div>

  <div class="modal" id="messageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Send Message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="https://music.krea8iv.com/demo/message/form" class="general-form" method="post">
          <input type="hidden" name="val[modal]" value="#messageModal"/>
          <div class="modal-body"></div>
        </form>
      </div>
    </div>
  </div>
  <div id="popover-default" class="hide">loading....</div>
  <script>
    var baseUrl = 'https://music.krea8iv.com/demo/';
    var permaLink = 1;
    var isLoggedIn = false;
    var strings = {
      are_your_sure: "Are you sure",
      ok: "Ok",
      close: "Close",
      notImageError: "Only allowed image formats are  : jpg,png,gif,jpeg",
      allowImageSizeError: "Too large file selected, Allowed image size is  : 50MB",
      notAudioError: "Only allowed audio files format are  : mp3,m4a,mp4",
      allowAudioSizeError: "Too large file selected, allowed audio file size is  : 5MB",
      notVideoError: "Please select a supported video file",
      allowVideoSizeError: "Too large file selected, Allowed video size is  : 55MB",
      processing: "Processing..",
      trans_any_moment: "any_moment",
      trans_less_than_minute: "few secs ago",
      trans_about_minute: "1min ago",
      trans_about_minutes: "%dmin ago",
      trans_about_hour: "1h ago",
      trans_about_hours: "%d h ago",
      trans_a_day: "1d ago",
      trans_about_days: "%dd ago",
      trans_about_month: "1m ago",
      trans_about_months: "%dm ago",
      trans_about_year: "1y ago",
      trans_about_years: "%dy ago",
      you_have_new: "You have new ",
      "notifications": "Notifications",
      add_price: "Set price",
      custom_url: "Custom URL",
      alphanum_only: "Alpha-Numberic Only"
    };
    var supportImagesType = "jpg,png,gif,jpeg";
    var supportAudioType = "mp3,m4a,mp4";
    var supportVideoType = "mp4";
    var allowPhotoSize = 51200000;
    var allowAudioSize = 5120000;
    var allowVideoSize = 56320000;
    var defaultVolume = 80;
    var updateTime = 10000;
    var lastTime = 1543232827;
    var siteTitle = "MusicEngine";
    var stripeKey = "pk_test_2F0PpIEqlIaD4ms2Y2hqri2r";
    var siteLogo = "https://music.krea8iv.com/demo/uploads/settings/552635607da2111fa6b63691c955a565.png";
    var settingswaveColor = "#0F0710";
    var settingswaveColored = "#FF5533";
    var playloop = true;
    var currency = "USD";

  </script>

</body>

{% endblock %}
